name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'  # Minimum supported Julia version
          - '1'    # Latest stable Julia version
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        arch:
          - x64
        exclude:
          # 32-bit is only supported on Windows
          - os: ubuntu-latest
            arch: x86
          - os: macos-latest
            arch: x86
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v1
      - name: Install Dependencies
        run: julia --project=@. -e 'using Pkg; Pkg.instantiate()'
      - name: Run tests
        run: julia --project=@. -e 'using Pkg; Pkg.test()'
